.block {
    fill: black;
    opacity: 0.4;
}

.block.selected {
    opacity: 1.0;
    stroke-width: 10;
}

.road {
    stroke: black;
    stroke-width: 1px;
    fill: transparent;
    opacity: 0.6;
}
